# -*- mode:pony-tpl; mode: html; -*-
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block title %}
      Test Fixture with tags
    {% endblock %}
  </head>
  <body>
    {% ifequal 2 1 %}
      Wrong Universe
      {% block universe %}
	Current Universe is {{universe}}
      {% endblock universe %}
    {% endifequal %}
    {% ifnotequal "This" "that" %}
      <p>
	Phew
      </p>
    {%endifnotequal%}
    {%ifchanged universe%}
      <div>
	What?
      </div>
      {% endifchanged %}
  </body>
</html>

